---
/* Component for rendering a collection of tags.
 *
 * Props:
 * - tags: Array<{
 *     name: string,
 *     count?: number | string
 *   }> - Array of tags
 * - class?: string - Additional CSS classes
 *
 * Example usage:
 * <TagCloud
 *   tags={[
 *     { name: "javascript", count: 5 },
 *     { name: "typescript", count: 3 }
 *   ]}
 *   class="my-tags"
 * />
 *
 * Notes:
 * - Flexible inline layout
 * - Optional count display
 * - Consistent tag spacing
 * - Theme-based colors
 * - Responsive design
 */

import Tag from "@components/Astro/utils/Tag.astro";

interface Props {
	tags: {
		name: string;
		count?: number | string | undefined
	}[];
	class?: string | undefined;
}

const { tags = [], class: className } = Astro.props;
---

<div
	class:list={[
		"inline-flex flex-wrap-reverse justify-center items-center px-0 mb-0.5 w-full",
		className,
	]}
>
	{tags.map((tag) => <Tag tag={tag.name} count={tag.count} size="lg" />)}
</div>
<hr class="my-5 text-theme-accent" />
