/* Classes to be used to animate text and elements */

@layer components {
	/*
======================================
<(^.^)>  NEON TEXT ANIMATION  <(^.^)>
======================================
 */
	.neon {
		@apply text-theme-accent font-bold tracking-wider relative inline-block;
		color: var(--color-accent);
		text-shadow: 0 0 7px var(--color-accent), 0 0 10px var(--color-accent),
			0 0 21px var(--color-accent), 0 0 42px var(--color-accent);
		animation: neon-flicker 6s infinite alternate;
		transition: transform 0.3s ease-out;
	}

	.neon::before {
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		color: var(--color-text);
		filter: blur(0.02em);
		opacity: 0.8;
	}

	.neon::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(
			45deg,
			transparent 5%,
			rgba(255, 255, 255, 0.1) 5%,
			rgba(255, 255, 255, 0.1) 10%,
			transparent 10%
		);
		filter: blur(0.05em);
		opacity: 0.5;
		animation: neon-edge-glow 6s infinite alternate;
	}

	@keyframes neon-flicker {
		0%,
		18%,
		22%,
		25%,
		53%,
		57%,
		100% {
			text-shadow: 0 0 7px var(--color-accent), 0 0 10px var(--color-accent),
				0 0 21px var(--color-accent), 0 0 42px var(--color-accent);
		}
		20%,
		24%,
		55%,
		100% {
			text-shadow: 0 0 2px var(--color-accent), 0 0 4px var(--color-accent);
		}
	}

	@keyframes neon-edge-glow {
		0%,
		100% {
			opacity: 0.1;
		}
		50% {
			opacity: 0.3;
		}
	}

	/*
===================================
<(^.^)>DONUT ANIMATIONS <(^.^)>
===================================
 */
	.donut--broken {
		width: 1em;
		height: 1em;
		border-radius: 50%;
		/* uncomment for loading spinner animation */
		/* border: 0.25em solid gainsboro;
		border-top-color: black; */
		animation: donut-spin--broken 10s linear infinite;
	}

	.donut {
		width: 1em;
		height: 1em;
		border-radius: 50%;
		animation: donut-spin 2s linear infinite;
	}

	@keyframes donut-spin--broken {
		0% {
			transform: rotate(0deg);
		}
		5% {
			transform: rotate(170deg);
		}
		20% {
			transform: rotate(180deg);
		}
		25% {
			transform: rotate(-170deg);
		}
		40% {
			transform: rotate(340deg);
		}
		54% {
			transform: rotate(350deg);
		}

		65% {
			transform: rotate(150deg);
		}
		70% {
			transform: rotate(180deg);
		}
		100% {
			transform: rotate(-360deg);
		}
	}

	@keyframes donut-spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	/*
===================================
<(^.^)>  SPIN AND GROW ANIMATION  <(^.^)>
===================================
 */
	.spin-and-grow {
		transform-origin: center;
		border-radius: 50% !important;
		animation: spinAndGrow 1.25s ease-out;
	}

	.spin-and-grow-reverse {
		animation: spinAndGrowReverse 1.25s ease-out;
	}

	@keyframes spinAndGrow {
		0% {
			transform: scale(0.5) rotate(-180deg);
			opacity: 0;
		}
		50% {
			transform: scale(0.8) rotate(-80deg);
			opacity: 0;
		}
		100% {
			transform: scale(1) rotate(0deg);
			opacity: 1;
		}
	}

	@keyframes spinAndGrowReverse {
		0% {
			transform: scale(0.5) rotate(180deg);
			opacity: 0;
		}
		50% {
			transform: scale(0.8) rotate(80deg);
			opacity: 0;
		}
		100% {
			transform: scale(1) rotate(0deg);
			opacity: 1;
		}
	}

	/*
===================================
<(^.^)>  BUILD IN ANIMATION  <(^.^)>
===================================
 */
	.build-in {
		opacity: 0;
		transform: translateY(20px);
		animation: buildIn 0.5s ease-out forwards;
	}

	@keyframes buildIn {
		0% {
			opacity: 0;
			transform: translateY(20px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	/*
===================================
<(^.^)>  FADE IN ANIMATION  <(^.^)>
===================================
 */
	.fade-in {
		opacity: 0;
		animation: fadeIn 0.7s ease-out forwards;
		transform: scale(0.9);
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}
}



/* accessibility */
@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}

	/* Disable specific animations */
	.image-drop-in,
	.spin-and-grow,
	.build-in,
	.fade-in,
	.neon,
	.donut,
	.text-build {
		animation: none !important;
		opacity: 1 !important;
		transform: none !important;
	}
}
