/*
This file is used to define global styles for the application.

The 'prose' section is used to style markdown content.

 The 'helper classes' section is used to define utility classes that can be used in the application.
*/
@import "./themes.css";
@import "./animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/** General **/

	html {
		@apply antialiased;
		@apply min-h-[100svh] w-full flex flex-col items-center bg-theme-primary text-theme-primary bg-gradient-linear font-sans my-0 mx-auto;
		@apply scroll-smooth;
	}

	body {
		@apply min-h-[100svh] w-full max-w-[1680px];
	}

	section {
		@apply my-16 mx-auto w-full p-2; /* 256px - 4rem top/bottom margin */
	}

	article {
		@apply my-8 p-1; /* 128px - 2rem top/bottom margin */
	}

	div {
		@apply my-2 p-1;
		/* Flexible containers */
	}

	p {
		@apply my-2 p-0.5;
	}

	span {
		/* Inline elements */
		margin: 0; /* No disruption to text flow */
		padding: 0;
		display: inline; /* Ensure inline behavior */
	}

	/** Typography **/
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		@apply tracking-widest leading-normal font-bold font-serif;
	}

	h5,
	h6,
	.h5,
	.h6 {
		@apply font-mono uppercase;
	}

	h1,
	.h1 {
		@apply text-[3.5rem] text-theme-accent md:text-[4rem] lg:tracking-widest lg:leading-normal;
	}

	h2,
	.h2 {
		@apply text-5xl text-theme-accent mb-1;
	}

	h3,
	.h3 {
		@apply text-3xl mb-1;
	}

	h4,
	.h4 {
		@apply text-xl mb-1;
	}

	h5,
	.h5 {
		@apply text-lg font-semibold mb-1;
	}

	h6,
	.h6 {
		@apply text-sm font-semibold mb-1;
	}

	p,
	li,
	a {
		@apply text-theme-primary font-normal py-1;
	}

	p {
		@apply mb-1;
	}

	a {
		@apply underline underline-offset-2 decoration-2 decoration-theme-primary hover:decoration-theme-secondary hover:text-theme-accent hover:bg-opacity-20 cursor-pointer focus:ring-2 focus:ring-theme-primary focus:ring-offset-2 focus:outline-none;
	}

	a.active {
		@apply text-theme-accent no-underline;
	}

	/* tweak line height */
	p,
	li,
	a {
		@apply leading-relaxed;
	}

	h1,
	.h1 {
		@apply leading-tight;
	}

	pre:has(code) {
		@apply font-mono text-sm border border-theme-secondary mt-3 p-4 overflow-x-auto transition-colors duration-500 ease-linear inline-block w-full;
	}

	code,
	blockquote {
		@apply break-words;
	}

	pre > code {
		@apply whitespace-pre;
		display: inline;
	}

	blockquote {
		@apply border-l-4 border-theme-primary pl-4 italic text-theme-primary;
	}

	::selection {
		@apply bg-theme-secondary text-theme-secondary;
	}

	/** scrollbar **/

	html {
		overflow-y: scroll;
	}

	/* width */
	::-webkit-scrollbar {
		@apply w-3;
	}

	/* Track */
	::-webkit-scrollbar-track {
		@apply shadow-theme-primary;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		@apply bg-theme-accent;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		@apply bg-theme-secondary bg-opacity-50 cursor-pointer;
	}

	/* code block scroll */
	pre:has(code)::-webkit-scrollbar {
		@apply w-1 h-1;
	}
}

/** prose **/

@layer components {
	.prose {
		@apply text-theme-primary text-lg  leading-relaxed md:m-auto;
	}

	.prose h1,
	.prose .h1,
	.prose h2,
	.prose .h2,
	.prose h3,
	.prose .h3,
	.prose h4,
	.prose .h4,
	.prose h5,
	.prose .h5,
	.prose h6,
	.prose .h6 {
		@apply font-bold;
	}

	.prose h1,
	.prose .h1 {
		@apply text-4xl text-theme-secondary leading-relaxed md:text-5xl tracking-widest max-w-7xl;
	}

	.prose h2,
	.prose .h2 {
		@apply text-4xl text-theme-accent leading-normal tracking-widest mt-8;
	}

	.prose h3,
	.prose .h3 {
		@apply text-3xl text-theme-primary tracking-widest mt-6;
	}

	.prose h4,
	.prose .h4 {
		@apply text-xl text-theme-primary tracking-widest mt-4;
	}

	.prose h5,
	.prose .h5 {
		@apply text-lg text-theme-primary  mb-1 font-mono uppercase;
	}

	.prose h6,
	.prose .h6 {
		@apply text-sm text-theme-primary mb-1 font-mono uppercase;
	}

	.prose p {
		@apply text-theme-primary text-lg p-2 lg:p-2.5;
	}

	.prose a {
		@apply text-theme-primary underline-offset-2 decoration-2 decoration-theme-primary hover:decoration-theme-secondary hover:text-theme-accent hover:bg-opacity-20 cursor-pointer;
	}

	.prose blockquote {
		@apply border-l-4 border-theme-secondary pl-4 italic text-theme-primary;
	}

	.prose ul {
		@apply list-inside marker:text-theme-primary;
	}

	.prose ol {
		@apply list-decimal list-inside;
	}

	.prose li {
		@apply text-theme-primary text-lg leading-relaxed py-1;
	}

	.prose pre {
		@apply font-mono text-sm border border-theme-secondary mt-3 p-4 overflow-x-auto transition-colors duration-[1500ms] ease-linear;
		display: inline-block;
		width: 100%;
	}

	.prose pre code {
		@apply whitespace-pre;
		display: inline;
	}

	.prose code:not(pre code) {
		@apply bg-theme-secondary text-theme-secondary px-1 inline-block;
	}

	.prose strong:not(h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong) {
		@apply text-theme-primary font-semibold relative tracking-wider; /* Changed to font-semibold and font-sans for readability */
	}

	.prose ::selection {
		@apply bg-theme-secondary text-theme-secondary;
	}
}

/** helper classes **/

@layer components {
	.is-title {
		@apply text-5xl font-bold font-serif bg-gradient-radial text-transparent bg-clip-text md:text-6xl lg:tracking-widest lg:leading-normal;
	}
	.is-title-alt {
		@apply text-5xl font-bold font-serif bg-theme-secondary text-theme-secondary md:text-6xl lg:tracking-widest lg:leading-normal;
	}
	.focused {
		@apply outline-2 outline-offset-1 focus-visible:no-underline focus-visible:outline-dashed;
	}
	.disabled {
		@apply pointer-events-none opacity-50 no-underline;
	}
}
