/*
	Must start with .theme- (UI theme names will render without the .theme- prefix)

	Options are not required for a theme to work. I added them for the sake of example. For example, some themes have a border-radius, others do not.

	If you add any options, make sure to add them to the tailwind.config.js file as well,
	see border-radius for example. You can then use the options in your components,
	you'll find many examples of border-radius in the components folder.

	The bottom of this file has an extensive list of tips to help you create your own themes.
	You can also visit https://color-genie.site to help you generate color palettes based on a single color. Copy paste the values you want by clicking on the generate code button.

 NOTE: you will need to restart your dev server to see changes reflected in the app.
*/

:root,
.theme-light {
	--color-background: #ffffff;
	--color-gradient: #f0e6d2;
	--color-text: #3a3a3a;
	--color-accent: #2c3e50;
	/* Darker blue-gray, less dominant */
	--color-accent-alt: #d35400;
	/* Deeper orange, complementing the image */
	--color-shadow: #1b2838;
	/* options */
}

.theme-dark {
	--color-background: #1b2838;
	--color-gradient: #2c3e50;
	--color-text: #f0e6d2;
	--color-accent: #3498db;
	--color-accent-alt: #e67e22;
	--color-shadow: #0a1721;
	/* Darker shadow for contrast */
	/* options */
	--border-radius: 0.4rem;
}

.theme-choco-mint {
	--color-background: #251612;
	--color-gradient: #2a2a2a;
	--color-text: #ece6d6;
	--color-accent: #1bdb82;
	--color-accent-alt: #e9cca0;
	--color-shadow: #0a0a0a;
	/* options */
	--border-radius: 0.4rem;
}

.theme-deep-sea {
	--color-background: #1a3c3c;
	--color-gradient: #0a1e1e;
	--color-text: #a3e7dd;
	--color-accent: #14c4ac;
	--color-accent-alt: #0a9b83;
	--color-shadow: #005f5f;
	/* options */
	--border-radius: 0.2rem;
}

.theme-invisible {
	--color-background: #1e2723;
	--color-gradient: #2a3c2f;
	--color-text: #e6dcc1;
	--color-accent: #c76815;
	--color-accent-alt: #b8a86a;
	--color-shadow: #162019;
	/* options */
	--border-radius: 0.4rem;
}

.theme-leet {
	--color-background: #0d0208;
	--color-gradient: #001f00;
	--color-text: #00ff41;
	--color-accent: #08f7fe;
	--color-accent-alt: #005f2c;
	--color-shadow: #003b00;
	/* options */
}

.theme-neon-bliss {
	--color-background: #0d0221;
	--color-gradient: var(--color-background);
	--color-text: #08f7fe;
	--color-accent: #00ff9f;
	--color-accent-alt: #fe53bb;
	--color-shadow: hsla(182, 99%, 51%, 0.3);
	/* options */
	--border-radius: 0.7rem;
}

.theme-old-couch {
	--color-background: #1a110d;
	--color-gradient: #3d2a20;
	--color-text: #e6b785;
	--color-accent: #ff7f00;
	--color-accent-alt: #a85400;
	--color-shadow: hsla(0, 0%, 0%, 0.6);
	/* options */
	--border-radius: 0.25rem;
}

.theme-peppermint {
	--color-background: #f4f4f4;
	--color-gradient: #fff3f3;
	--color-text: #2a2a2a;
	--color-accent: #e4283f;
	--color-accent-alt: #922838;
	--color-shadow: hsla(0, 100%, 50%, 0.15);
	/* options */
	--border-radius: 0.8rem;
}

.theme-pop-punk {
	--color-background: #000000;
	--color-gradient: var(--color-background);
	--color-text: #ffffff;
	--color-accent: #ff1493;
	--color-accent-alt: #1ab81a;
	--color-shadow: hsla(328, 100%, 54%, 0.5);
	/* options */
	--border-radius: 0.5rem;
}

.theme-refresher {
	--color-background: #f5f3e8;
	--color-gradient: #eae7d9;
	--color-text: #04302c;
	--color-accent: #c95817;
	/* --color-accent-alt: #a85751; */
	--color-accent-alt: #5090cc;
	--color-shadow: #b8cc94;
	/* options */
	--border-radius: 0.5rem;
}

.theme-slime {
	--color-background: #030901;
	--color-gradient: #ed880c;
	--color-text: #f8f1dd;
	--color-accent: #cfd742;
	--color-accent-alt: #e0cd91;
	--color-shadow: var(--color-gradient);
	/* options */
	--border-radius: 0.4rem;
}

.theme-syntax {
	--color-background: #0f0e17;
	--color-gradient: #2e2c3a;
	--color-text: #fffffe;
	--color-accent: #fed941;
	--color-accent-alt: #133057;
	--color-shadow: hsla(48, 99%, 63%, 0.3);
	/* options */
}

.theme-vanilla {
	--color-background: #d1c4ab;
	--color-gradient: #eee5c9;
	--color-text: #1b1313;
	--color-accent: #a32540;
	--color-accent-alt: #a1887a;
	--color-shadow: #331818;
	/* options */
	--border-radius: 0.4rem;
}

/*
--- COLOR STRATEGIES ---

These are the guidelines I used to create the themes above. They are not rules, but they can help you create your own themes.

- Background and Text Contrast:

Ensure that the background color (--color-background) and text color (--color-text) have sufficient contrast, as those colors are used throughout the theme and expect contrasting colors.


- Gradient Colors:

The gradient color (--color-gradient) should be similar to the background color to create a smooth visual effect. It can be a lighter or darker shade of the background color.

- Accent Colors:

Accent colors (--color-accent and --color-accent-alt) should contrast with the background to stand out. While not required, if you can find a color that contrasts both the background and text, it will work very well across the theme.


- Shadow Colors:

Shadow colors (--color-shadow) should be darker shades of the background or gradient colors to create depth.
Example: If the background is light, the shadow could be a darker shade of the same color. I've used a very bright contrasting colors to make a 'glow' effect. See 'pop-punk' and 'neon-bliss' themes for examples. If you want no shadow, you can use a transparent color like hsla(0, 0%, 0%, 0).

- Optional Properties:

Include optional properties like --border-radius to add unique styles to specific themes. You can pass the props into each individual component as needed.
Example: Rounded corners can be specified with --border-radius.

- Consistency:

Maintain consistency across themes by using similar naming conventions and structure.
Example: Always define the same set of properties for each theme, except options which are, of course, optional.

*/
