---
import PageHeading from "@components/Astro/PageHeading.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import Link from "@components/Astro/Link.astro";
import FeaturesList from "@components/Astro/FeaturesList.astro";

const faq = [
	{
		title: "Where can I find the documentation?",
		description:
			"All the components are documented in their own files, they include JSDoc comments and type hinting. All other docs are linked in the navigation at the top of the page.",
	},
	{
		title: "Do you have an example of the blog pages?",
		description:
			"The documentation linked above are the 'blog' for this site. Naming the blog, setting URLs, is as easy as changing a folder name and updating one line in the config file.",
	},
];
---

<Layout title="FAQ">
	<PageHeading text="FAQ" />
	<p class="flex items-center justify-center gap-2">
		<Icon name="ri:questionnaire-line" size="1.5em" class="opacity-80" />
		Looking for the <Link href="/features/feature-list" text="Feature List?" />
	</p>
	<section>
		<article>
			<FeaturesList features={faq} />
		</article>
	</section>
</Layout>
