---
import { Icon } from "astro-icon/components";
import PageHeading from "@components/Astro/PageHeading.astro";
import Layout from "@layouts/Layout.astro";
import Link from "@components/Astro/Link.astro";
import FeaturesList from "@components/Astro/FeaturesList.astro";

const features = [
	{
		title: "No JavaScript framework was harmed in the making of this theme.",
		description: "Alkaline is built with Astro, MDX, and Tailwind CSS. That means you're free to use any JS framework you want, or none at all.",
	},
	{
		title: 'Minimal dependencies.',
		description: 'Alkaline is built with minimal dependencies, so you can focus on building your website, and not worrying about maintaining a bunch of libraries.',
	},
	{
		title: "Tailwind CSS Included.",
		description: "Alkaline includes a simple but fully functional Tailwind CSS setup. Easily customize, extend, or replace with your own. Not a fan of Tailwind? No problem, Alkaline is built with Astro, so you can use any CSS framework you want, or none at all.",
	},
	{
		title: "Supports dark, light, and custom color themes.",
		description: "14 different color themes are included, along with a system to easily add your own.",
	},
	{
		title: "SEO Friendly.",
		description: "Alkaline is packed full of SEO features, including Open Graph image support, structured data, and more. All easily configurable and customizable.",
	},
	{
		title: "Supports Syntax Highlighting.",
		description: "Alkaline includes a simple but fully functional syntax highlighting system, thanks to Shiki.",
	},
	{
		title: "Google Fonts Galore.",
		description: "Alkaline makes it easy to add Google Fonts to your project.",
	},
	{
		title: "Blog Support.",
		description: "Get creative, get serious, or get personal using Astro's built in MDX support. Blog like it's 2999.",
	},
	{
		title: "Advanced Features.",
		description: "Alkaline includes every feature that I wish I had when I first started building websites, all while making sure that Alkaline offers great features for advanced users as well.",
	},
	{
		title: "Ongoing Support.",
		description: "Alkaline will be actively supported and maintained for the foreseeable future. For now the focus is on usability, bug smashing, and creating a great developer experience.",
	},
	{
		title: "It's Free.",
		description: "Alkaline is fully open source, and will remain free for everyone forever.",
	},

];
---

<Layout title="Elements">
	<div class="max-w-4xl mx-auto px-6">
		<PageHeading text="Feature List" />
		<section>
			<p class="flex items-center justify-center gap-2">
				<Icon name="ri:questionnaire-line" size="1.5em" class="opacity-80" />
				Looking for the <Link href="/features/faq" text="FAQ?" />
			</p>
			<article>
				<FeaturesList features={features} />
			</article>
		</section>
	</div>
</Layout>
