---
import Layout from "@layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import coverImage from "@assets/alk-cover-2.webp";

---

<Layout title="404">
	<section
		class="flex flex-col items-center justify-center p-4 text-center mt-24 mb-10"
	>
		<h1 class="text-6xl sm:text-8xl font-bold mb-4 flex items-center">
			<!-- 4<div class="donut ml-2 mr-4"></div>4 -->
					4<Image
						src={coverImage}
						alt="404"
						class:list={[
							"w-full h-full object-cover donut--broken mx-2",
						]}
						width={100}
						height={100}
					/>
					<span class="ml-2">4</span>
		</h1>
		<p class="text-xl sm:text-2xl">Page not found</p>
	</section>
</Layout>
