---
import { Icon } from "astro-icon/components";
import Heading from "@components/Astro/Heading.astro";
import Layout from "@layouts/Layout.astro";
import Link from "@components/Astro/Link.astro";
import FeaturesList from "@components/Astro/FeaturesList.astro";

const features = [
  {
    title: "Simple Configuration Files.",
    description:
      "Alkaline features several simple yet powerful configuration files. Easily customize your theme, typography, colors, and much more.",
  },
  {
    title: "Your website, your way.",
    description:
      "Alkaline is built with Astro, MDX, Tailwind, and vanilla JavaScript. That means you're free to use any JS framework you want, or none at all.",
  },
  {
    title: "Near-zero Dependencies.",
    description:
      "Alkaline is built with minimal dependencies, so you can focus on building your website without worrying about maintaining numerous libraries.",
  },
  {
    title: "Design System Included.",
    description:
      "It's easy to have consistent typography, spacing, and colors throughout your site, thanks to Alkaline's simple design system built on top of Tailwind.",
  },
  {
    title: "Animations and View Transitions.",
    description:
      "Alkaline includes a simple but functional custom animation library, Tailwind's animations, and Astro's built-in view transitions.",
  },
  {
    title: "Supports dark, light, and custom color themes.",
    description:
      "Fourteen different color themes are included, along with a system to easily add your own. Just add a handful of new colors to the theme file, and Alkaline will do the rest.",
  },
  {
    title: "SEO Friendly.",
    description:
      "Alkaline is packed with SEO features, including Open Graph image support, structured data, and more. All are easily configurable and customizable.",
  },
  {
    title: "Syntax Highlighting.",
    description:
      "Alkaline includes a simple yet fully functional syntax highlighting system, thanks to Shiki.",
  },
  {
    title: "Google Fonts Galore.",
    description: "Alkaline makes it easy to add Google Fonts to your project.",
  },
  {
    title: "Infinite Blogging Possibilities.",
    description:
      "Get creative, get serious, or get personal using Astro's built-in MDX support. Blog like it's 2999.",
  },
  {
    title: "Advanced Features.",
    description:
      "Alkaline includes nearly every feature that I wish I had when I first started building websites, and it also includes functionalities that advanced users will appreciate.",
  },
  {
    title: "Ongoing Support.",
    description:
      "Alkaline will be actively supported and maintained for the foreseeable future. For now, the focus is on usability, bug-squashing, and creating a great developer experience.",
  },
  {
    title: "It's Free.",
    description:
      "Alkaline is fully open source under the MIT license and will remain free for everyone.",
  },
];
---

<Layout title="Features">
  <Heading text="Feature List" />
  <p class="flex items-center justify-center gap-2">
    <Icon name="ri:questionnaire-line" size="1.5em" class="opacity-80" />
    Looking for the <Link href="/faq" text="FAQ?" />
  </p>
  <section class="max-w-6xl mx-auto p-6 w-full mt-0">
    <article class="md:mx-12 lg:mx-auto w-full max-w-2xl">
      <FeaturesList features={features} />
    </article>
  </section>
</Layout>
