---
import Layout from "@layouts/Layout.astro";

import Link from "@components/Astro/Link.astro";
---

<Layout title="Libros" description="Una selección de libros recomendados." showTitle={false}>
  

  <section class="prose max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <article class="mt-12">
      <h3>LA MACROECONOMÍA DEL POPULISMO</h3>
      <p>
        Este ensayo se ocupa de la macroeconomía del populismo en la América Latina. 
        Entendemos por "populismo" un enfoque al análisis económico que hace hincapié en el crecimiento 
        y la redistribución del ingreso, y minimiza los riesgos de la inflación y el financiamiento deficitario,
        las restricciones externas y la reacción de los agentes económicos ante las políticas "agresivas" que 
        operan fuera del mercado. Queremos demostrar aquí que las experiencias de política en diferentes países 
        y periodos tienen rasgos comunes, desde la condiciones iniciales, la motivación de las políitcas y el 
        argumento de que las condiocnes del país son diferentes, hasta el colapso final. Al examinar estas 
        experiencias, la de Chile con Allende y la del Perú con García, no pretendemos hacer una afirmación 
        moralista de la economía conservadora, sino advertir que las políticas populistas fallan en última 
        instancia, y que cuando fallan lo hacen siempre a un costo inmenso para los mismos grupos supuestamente 
        favorecidos. 
        <Link href="https://www.jstor.org/stable/pdf/23396770.pdf" external text="Leer ensayo (PDF)" />
      </p>
    </article>

    <article class="mt-12">
      <h3>R para ciencias de datos en español</h3>
      <p>
        
        <Link href="https://es.r4ds.hadley.nz/25-model-many.html?fbclid=IwY2xjawNYqzBleHRuA2FlbQIxMABicmlkETF6VHY0VktaM0NpcVZPS3lQAR4aSE1t_ElBIF7bhv3bKG7_9kL1bxRPiLTCLfl9vRs6esak9ACvfjAqPgza6w_aem_nzEDaF2f6-dQCRQzZXFHpQ" external text="Leer libro (html)" />
      </p>
    </article>

    <article class="mt-12">
      <h3>Estadística para economía y negocios</h3>
      <p>
         
        <Link href="https://drive.google.com/file/d/1cCw3cu9IQ6jbjVSIMTby4Xouc7vlBDW0/view?fbclid=IwY2xjawNZ2V9leHRuA2FlbQIxMABicmlkETFnd1J0WFpvR1VlSjFpWE53AR5Tl6afC1wDeCc8kfM_bUnBJiT1BG7eqA7uv6fPmKBK5HDIpIf16_2CzFP3Yg_aem_TI1CvUcZMnWJhME1IJsFbw" external text="Leer libro" />
      </p>
    </article>

    <article class="mt-12">
      <h3></h3>
      <p>
         
        <Link href="" external text="" />
      </p>
    </article>

    <article class="mt-12">
      <h3></h3>
      <p>
         
        <Link href="" external text="" />
      </p>
    </article>

    <p class="text-center mt-16">
        <em> <code></code>.</em>
    </p>
  </section>

</Layout>
